<div class="jumbotron text-center">
  <h1>MEAN Auth APP</h1>
  <p class="lead">Welcom to APP Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, assumenda, aut
    consequatur deserunt dolor fugit id, inventore magnam nemo odio possimus provident vero! Atque blanditiis
    ex iure perferendis quasi, qui.</p>
  <p><a class="btn btn-lg btn-primary" [routerLink]="['/register']" role="button">Sign up</a>
  <a class="btn btn-lg btn-success" [routerLink]="['/login']" role="button">Sign in today</a></p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Full featured authentication using JSON web tokens. Login and store user data</p>
  </div>
</div>
<br>
